html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	scroll-behavior: smooth;
}

article,
 aside,
 details, /* 1 */
 figcaption,
 figure,
 footer,
 header,
 main, /* 2 */
 menu,
 nav,
 section,
 summary {
	/* 1 */
	display: block;
}

a {
	background-color: transparent;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

a:active,
a:hover {
	outline-width: 0;
}

h1 {
	font-size: 2em;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}
